<div class="container" fxLayout="row">
  <mat-card class="bio-container">
    <mat-card-header>
      <img mat-card-avatar src="assets/avatar.jpg">
      <mat-card-title>Anıl Yıldız</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="bio-text">
        Hello! This is Anıl, a software developer living in Turkey.
        I am also 🎸 guitar player and 🚴 cyclist.
        You can check my projects or contact me via following links:
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">
      <a mat-button href="https://github.com/yildizan" target="_blank">
        <i class="fab fa-github fa-lg"></i>
        <span class="left-margin">GitHub</span>
      </a>
      <a mat-button href="https://www.linkedin.com/in/anil-yildiz" target="_blank">
        <i class="fab fa-linkedin fa-lg" style="color: #0077B5"></i>
        <span class="left-margin">LinkedIn</span>
      </a>
      <a mat-button href="mailto:anil.yildiz@outlook.com.tr">
        <i class="fas fa-envelope"></i>
        <span class="left-margin">Contact</span>
      </a>
    </mat-card-actions>
  </mat-card>
</div>