<div class="container" fxLayout="row">
  <mat-card class="bio-container">
    <mat-card-header>
      <img mat-card-avatar src="assets/avatar.jpg">
      <mat-card-title>Anıl Yıldız</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="bio-text">
        Hello! This is Anıl, a software developer living in Turkey.
        I am also 🎸 a guitar player and 🚴 a cyclist.
        You can check my projects or contact me via following links:
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <a mat-button href="https://github.com/yildizan" target="_blank">
        <i class="fab fa-github"></i>
        <span class="left-margin">GitHub</span>
      </a>
      <a mat-button color="primary" href="mailto:anilyildiz59@gmail.com">
        <i class="fas fa-envelope"></i>
        <span class="left-margin">Contact</span>
      </a>
    </mat-card-actions>
  </mat-card>
</div>